<p>homepage works!</p>

<input type="text" [(ngModel)]="test"/>

<button (click)="requestSample()">
    request
</button>

<span (click)="alerts()">
    {{test}}

</span>

<table>
    <tbody>
        <tr *ngFor="let anime of animeList">
            <td>
                {{anime.mal_id}}
            </td>
            <td>
                {{anime.url}}
            </td>
            <td>
               <img src="{{anime.image_url}}"> 
            </td>
        </tr>
    </tbody>
</table>

<app-picture-box></app-picture-box>
